.photo {
  width: 100%;
}

.img-wrap {
  overflow: hidden;
}

.header-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: var(--header-color);
  font-size: 25px;
}

.title {
  color: var(--additional-light-color);
  font-size: 0.5rem;
}

.paragraph {
  color: var(--secondary-light-color);
  margin-bottom: 15px;
}

.header__buttons-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
}